<a href="@Url.Action("GioHang", "Giohang")" style="color:white; font-weight:bold; text-decoration:none">
    <img src="~/images/giohang.jpg" style="width:36px;height:36px"/> Giỏ hàng (@ViewBag.TongSoLuong)
</a>
